@charset "utf-8";
/* CSS Document */

.aviso{
	text-align:center;
	margin:0px;
	margin-top:20px;
}

.dialog_test{
	text-align:center;
}


#resultado{
	
}

.access
{
	background-image:url(../Imagenes/descarga4.jpg);
 width:80%;
 height:7em;
  display: inline-block;
	}