@charset "utf-8";
/* CSS Document */

.aviso{
	text-align:center;
	margin:0px;
	margin-top:20px;
}

.dialog_test{
	text-align:center;
}



.access
{
	background-image:url(../ASL2.png);
 width:80%;
 height:7em;
  display: inline-block;
	}
.info
	{
	width:80%;
 	height:7em;
  	display: inline-block;
	}