<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    id        = "com.phonegap.PrimerPhoneG"
    version   = "1.0.0">

<name>Handicap Portal   </name>

<description>
Final
</description>

<author href="https://example.com" email="comet1990@hotmail.com">
Luis I. Mendoza
</author>
<icon src="ASL2.png" />

<preference name="permissions" value="none"/>

    <feature name="http://api.phonegap.com/1.0/geolocation"/>
    <feature name="http://api.phonegap.com/1.0/network"/>
 
</widget>
