<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    id        = "com.phonegap.PrimerPhoneG"
    version   = "1.0.0">

<name>Handicap 4	</name>

<description>
Handicap PORTAL
</description>

<author href="https://example.com" email="comet1990@hotmail.com">
Luis I. Mendoza
</author>

</widget>
